*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all ease-in .5s;
}
body{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  
}
span{
    color: red;
}
.container{
    display: grid;
    place-items: center;
    background: linear-gradient(to bottom right, purple, blue);
    height: 100vh;
    width: 100vw;
}
.wrapper{
    text-align:center;
    padding: 15px;
    width: 50%;
    background: linear-gradient(to bottom right, rgb(182, 13, 182), rgb(95, 95, 200));
    border-radius: 5px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
input{
    outline: none;
    border: none;
    padding: 5px;
    margin: 1rem;
}
.btn-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    color: white;
    padding: 10px;
    border: 2px solid white;
    background: black;
    display: block;
    cursor: pointer;
}

